spring:
  application:
    name: safepay

  datasource:
    url: jdbc:postgresql://localhost:5432/safepay_db
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        format_sql: true

server:
  port: 8080

jwt:
  secret: 32fbdf18166f9fb5521d9d1912d27de672ebb26eacb57a5de9001f3a96db24dc
  access-token-expiration: 900000        # 15 minutos
  refresh-token-expiration: 604800000    # 7 dias

logging:
  level:
    root: INFO
    org.springframework.web: INFO
    org.springframework.security: INFO
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE
    tech.safepay.validations: DEBUG

